@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Setup e utilidades */


:root {
    --clr-primary: #E02D2D;
    --clr-bg: #EEF2F5;
    --clr-bg-dark: #191919;

    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--clr-bg-dark)
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;


    background-color: var(--clr-primary);
    width: fit-content;

    padding: .75rem 1rem;
    border-radius: 6px;

    font-size: 14px;
    color: var(--clr-bg);
    text-decoration: none;
}

.btn:hover{
    transform: scale(1.01);
}

.bg-dark {
    background-color: var(--clr-bg-dark);
}

section {
    display: flex;
    flex-direction: column;

    padding: 2rem 1.5rem;
}

section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;

    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    section {
        max-width: 1180px;
        margin: 0 auto;
    }
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    max-width: 1180px;
    margin: 0 auto;

    background-color: var(--clr-bg-dark);
    color: var(--clr-bg);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-size: 22px;
    font-weight: 500;
}

header nav {
    display: none;
    align-items: center;
    gap: 1.5rem;
}

header nav a{
    color: var(--clr-bg);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    header nav {
        display: flex;
    }
}

/* Home */

#home {
    justify-content: center;

    padding: 0;

    height: 700px;
}

#home > img {
    display: none;
}

.home-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    height: 400px;
    padding-inline: 1.5rem;

    background-image: url("/assets/img/darth-mobile.png");
    background-repeat: no-repeat;
    background-position-y: -0.1rem;
    background-size: 290px;
    height: 25rem;
}

.home-heading {
    display: flex;
    flex-direction: column;
    gap: 0;

    margin: 0;
}

.home-heading > h1 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
}

.home-heading > p {
    line-height: 150%;

    margin: 0;
}

@media screen and (min-width: 992px) {
    #home {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #home img {
        display: block;

        width: 444px;
        height: 444px;
    }

    .home-cta {
        background: none;
    }


}

/* Sobre */

#sobre {
    gap: 1rem;

    background-color: var(--clr-bg-dark);
    color: var(--clr-bg);
}

.mobile-sobre > img {
    width: 100%;
    border-radius: 26px;
}

.sobre-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;

    width: 100%;
}

.desktop-sobre {
    display: none;
}

.desktop-sobre img {
    border-radius: 26px;

    max-width: 460px;
}

.sobre-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-right {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .mobile-sobre {
        display: none
    }

    .desktop-sobre {
        display: flex;
        gap: 92px;
    }

    .desktop-sobre h2 {
        margin: 0;
    }

}

/* Projetos */

#projetos {
    gap: 1.5rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card {
    background-color: var(--clr-bg-dark);
    color: var(--clr-bg);

    padding: 1.25rem;
    border-radius: 8px;
    max-width: 250px;
}

.card > img {
    width: 100%;
}

.card > h3 {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projetos {
        align-items: center;
    }
}

/* Serviços e Conhecimentos */

#servicosEConhecimentos {
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: var(--clr-bg-dark);
    color: var(--clr-bg);
}

.base-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.base-list > li {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    width: 64px;
    height: 64px;
    
    background-color: var(--clr-primary);

    border-radius: 3px;

    font-size: 18px;
    font-weight: 600;
}   

.servicos-list {
    flex-direction: column;
    gap: 1rem;
}

.servicos-list > li {
    width: 90% ;
    justify-content: flex-start;
}

.conhecimentos-list {
    flex-wrap: wrap;
    gap: 20px;
}

.conhecimentos-list li {
    width: 72px;
    height: 72px;
}

.conhecimentos-list > li > img {
    width: 72px;
}

@media screen and (min-width: 992px) {
    #servicosEConhecimentos {
        flex-direction: row;
        justify-content: space-around;
    }

    #servicosEConhecimentos > div {
        flex-basis: 50%;
    }

    .servicos-list {
        flex-direction: column;
    }

    .servicos-list > li {
        height: 64px;
        max-width: 320px;
    }
}

/* Contato */

#contato {
    gap: 3rem;

    padding-block: 3rem;
}

#contato > h2 {
    margin: 0;
}

#contato > ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    margin: 0;
    padding: 0;

    list-style: none;
}

#contato > ul > li {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 18px;
    font-weight: 500;
}

#contato ul li i {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 2rem;
}

#contato a {
    color: var(--clr-bg-dark);
    text-decoration: none;
}

#contato > cite {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;

    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    #contato {
        align-items: center;
    }

    #contato > ul {
        align-items: center;
    }
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 1.25rem;

    background-color: var(--clr-primary);
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--clr-bg-dark);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

footer img {
    height: 24px;
}